/* GLOBAL ----------------------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

/* HEADER ----------------------------------------------------------------------------------------------------------*/
header {
    height: 2rem;
    background-color: rgb(255, 173, 220);
    z-index: 3;

    position: fixed;
    width: 100%;
}

.innerHeader {
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1300px;
    width: 100%;
    height: 100%;
}

.headericons {
    display: inline;
    height: 16px;
    margin-right: 5px;
}

.innerHeaderLeft {
    margin-left: 50px;
}

.innerHeaderRight {
    margin-right: 50px;
}

header ul {
    list-style-type: none;
    display: flex;
    float: right;
    left: 0px;
}

header p {
    display: inline;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: auto;
}

header li {
    margin-left: 10px;
    cursor: pointer;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s;
    padding: 3px 10px;
    border-radius: 25px;
    display: flex;
}

header li:hover {
    background-color: rgba(0, 0, 0, 0.105);
}

/* NAVBAR ----------------------------------------------------------------------------------------------------------*/
.navBar {
    height: 8rem;
    width: 100%;
    z-index: 2;
    background-color: white;
    position: fixed;
    margin-top: 2rem;

    display: flex;
    transition: 0.2s;
    
}

.navHidden {
    transform: translateY(-8rem);
}

.innerNavBar {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;

    padding-right: 50px;
    padding-left: 50px;
}

.innerNavBar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.innerNavBar li {
    cursor: pointer;
    font-weight: 400;
}

.navItems{
    transition: 0.2s;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.navItems:hover{
    border-bottom: 3px solid rgb(255, 173, 220);
}

.navItemsMobile {
    display: none;
}


.homeLogo {
    height: 3rem;
}

.icons {
    display: inline;
    margin-left: 2px;
    height: 12px;

}

/* MAIN ----------------------------------------------------------------------------------------------------------*/
.mainPage {
    height: 100vh;
    display: flex;
    flex-direction: column;


}

.MainContent {

    height: 100%;
    display: flex;
    padding-left: 10rem;
    align-items: center;
    /* background-color: blue; */
    background-image: url(Images/homepicture.jpg);
    background-size: cover;

    color: white;
    margin-top: 10rem;


}

.title {
    max-width: 1000px;
}

.title h1 {
    font-size: 72px;
    font-weight: 400;
}

.title h3 {
    font-size: 28px;
    font-weight: 200;
}

.title button {
    background-color: rgb(255, 173, 220);
    border-radius: 25px;
    padding: 10px 30px;
    border: none;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    margin-top: 1rem;
}

.title button:hover {
    background-color: rgb(152, 105, 132);
}

/* MENU ----------------------------------------------------------------------------------------------------------*/
.Menu {
    min-height: 4rem;
    max-height: 4rem;
    background-color: rgb(255, 173, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    font-size: 10px;
}

.tikTokMenu {
    height: 100%;
    width: 80px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tikTokMenu div {
    width: 100%;
    min-width: 60px;
    list-style: none;
    transition: 0.2s;
    text-align: center;
}

.tikTokMenu div:hover {
    transform: scale(1.2);
}

.innerMenu {
    width: 600px;
    height: 100%;
    cursor: pointer;
    display: flex;
    gap: 24px;
    align-items: center;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-x: scroll;
}

.innerMenu::-webkit-scrollbar {
    display: none;
}

.innerMenu li {
    max-width: 80px;
    min-width: 80px;
    list-style: none;
    white-space: nowrap;
    transition: 0.2s;
    text-align: center;
}

.innerMenu li:last-child {
    margin-right: 0;
}

.innerMenu li:hover {
    transform: scale(1.2);
}

.rightArrowIcon,
.leftArrowIcon {
    height: 20px;
    width: 20px;
    transition: 0.2s;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.leftArrowIcon:hover,
.rightArrowIcon:hover {
    background-color: rgba(0, 0, 0, 0.189);
}

.leftArrowIconMobile {
    display: none;
    height: 20px;
    width: 20px;
    transition: 0.2s;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transform: translateX(+1rem);
}

.rightArrowIconMobile {
    display: none;
    height: 20px;
    width: 20px;
    transition: 0.2s;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transform: translateX(-1rem);
}

.menuIcons {
    height: 22px;
    margin-bottom: 4px;
}

/* SECOND PAGE ----------------------------------------------------------------------------------------------------------*/
.secondPageTitle {
    display: flex;
    margin-left: 1rem;
}

.secondPageTitle p {
    font-weight: 500;
    font-size: 24px;
    color: rgb(86, 86, 86);
}

.secondPageWrapper {
    height: 100vh;
    background-color: rgb(248, 234, 233);
}

.secondPage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleDecoration {
    text-decoration: underline;
    text-decoration-color: pink;
    text-underline-offset: 4px;
}

/* IMAGE GRID ----------------------------------------------------------------------------------------------------------*/
.imageGrid {
    --gap: 24px;
    --num-cols: 2;
    --row-height: 260px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.imageGrid div {
    position: relative;
    color: white;
    font-size: 20px;
    overflow-y: hidden;
}

.imageGrid p {
    cursor: pointer;
}

.imageGrid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(70%);
    overflow: hidden;
    position: relative;
    margin: auto;
    cursor: pointer;
    transition: 0.2s;
}

.imageGrid img:hover {
    filter: brightness(100%);
}

.image-grid-col-2 {
    grid-column: 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

.pictureLabel {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
}


/* MEDIA SCREEN FOR MOBILE ----------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {

    /* IMAGE GRID ---------------------------------------------------------------------------------*/
    .imageGrid {
        --num-cols: 1;
        --row-height: 200px;
    }

    /* NAVBAR ---------------------------------------------------------------------------------*/
    /* .navBar{
        width: 100%;
    } */
    .innerNavBar{
        width: 90%; 
        padding: 0;
        margin: 0;
    }

    .navItems {
        display: none;
    }

    .navItemsMobile {
        display: block;
    }

    .navItemsMobile svg {
        margin-left: 0.5rem;
    }

    .navItemsMobile svg:first-child {
        margin-left: 0;
    }

    .homeLogo {
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* MENU ---------------------------------------------------------------------------------*/
    .leftArrowIcon,
    .rightArrowIcon {
        display: none;
    }

    .leftArrowIconMobile,
    .rightArrowIconMobile {
        display: block;
    }

    .tikTokMenu {
        margin-right: 0;
        margin-left: 1rem;
    }

    .tikTokMenu p {
        font-size: 10px;
    }

    .Menu {
        min-height: 5rem;
        max-height: 5rem;
    }

    .innerMenu {
        width: 240px;
        gap: 0px;
    }

    .innerMenu li:first-child {
        width: 0;
    }

    .innerMenu li {
        font-size: 10px;
    }

    .Menu div {
        font-size: 12px;
    }

    .menuIcons {
        height: 24px;
    }

    .arrowIcons {
        padding: 0px;
    }

    /* MAIN ---------------------------------------------------------------------------------*/
    .mainPage {
        height: fit-content;
    }

    .title {
        max-width: 200px;
    }

    .title button {
        padding: 3px 18px;
        font-size: 12px;
        margin-top: 8px;
    }

    .mainPage nav {
        height: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .title h1 {
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        overflow-y: hidden;
    }

    .title h3 {
        font-size: 14px;
    }

    .MainContent {
        padding-left: 1rem;
        background-image: url(Images/homepictureMobile.jpg);
        height: 19rem;

        margin-top: 6rem;
    }

    /* SECOND PAGE ---------------------------------------------------------------------------------*/
    .secondPageWrapper {
        height: fit-content;
    }

    .secondPage {
        display: block;
    }

    .secondPageTitle {
        padding-top: 1rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    .secondPageTitle p {
        font-size: 18px;
    }

    /* HEADER ---------------------------------------------------------------------------------*/
    .innerHeader {
        justify-content: center;
    }

    .innerHeaderRight {
        display: none;
    }

    .innerHeaderLeft {
        margin-left: 0;
    }

    header {
        font-size: 10px;
        height: 2rem;
    }
}